In [63]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('Book1.csv')

# Display the first few rows
print(df.head())

         uname         pass  number
0           ks          shr     7.0
1          man         eeva     2.0
2          ush         stav    17.0
3  New Value 1  New Value 2     NaN
4  New Value 1  New Value 2     NaN

In [64]:
# Create a new row of data (you can modify this as needed)
new_data = {'uname': 'New Value 1', 'pass': 'New Value 2'}

# Convert the new data into a DataFrame
new_row_df = pd.DataFrame([new_data])

# Concatenate the new row with the existing DataFrame
df = pd.concat([df, new_row_df], ignore_index=True)

# Write the updated DataFrame back to the CSV file
df.to_csv('Book1.csv', index=False)

print("Data added successfully!")

Data added successfully!

In [65]:
df['number']

0     7.0
1     2.0
2    17.0
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
Name: number, dtype: float64

In [66]:

# Extract the column by name (e.g., 'Column2')
column_data = df['number'].tolist()

print(column_data)

[7.0, 2.0, 17.0, nan, nan, nan, nan, nan, nan, nan]

In [67]:
data_to_search = 17.0

if data_to_search in column_data:
    print(f"{data_to_search} is in the list.")

17.0 is in the list.

In [74]:
from werkzeug.security import generate_password_hash
# Inside your registration route
#plain_password = request.form['password']   Read the plain password
plain_password='kbsas'
hashed_password = generate_password_hash(plain_password, method='sha256')
# Now you have the hashed password; you can use it as needed (e.g., for authentication)
print(hashed_password)

sha256$AsELR1heMFDB0xQR$2f8659aab0fc118021cc475ba01cc625ff5b4292622823d193fedd2b901aac44

In [ ]:
import random
import string

def generate_otp(length=6):
    # Define characters for the OTP (digits and uppercase letters)
    characters = string.digits + string.ascii_uppercase

    # Generate a random OTP
    otp = ''.join(random.choice(characters) for _ in range(length))
    return otp

# Example usage:
generated_otp = generate_otp()
print(f"Generated OTP: {generated_otp}")

Generated OTP: F869R7

In [ ]:
df.head()

         uname         pass  number
0           ks          shr     7.0
1          man         eeva     2.0
2          ush         stav    17.0
3  New Value 1  New Value 2     NaN
4  New Value 1  New Value 2     NaN